@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Brice";
  src: url("../assets/Brice/Brice-Black.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.footer {
  margin-top: auto;
  background: #454642;
  color: #ffffff;
}

.footer-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 64px 0;

  display: flex;
  flex-direction: column;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 25rem;
}

.footer-title {
  margin: 0 0 24px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: #ffffff;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-link {
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.footer-link:hover {
  opacity: 0.7;
}


.footer-brand {
  margin-top: 2rem;
  text-align: center;
  overflow: hidden;
}

.footer-brand span {
  display: block;
  font-size: clamp(8rem, 30vw, 23rem);
  font-weight: 900;
  font-family: "Brice", sans-serif;
  line-height: 0.75;
  color: #5a5b57; /* lidt lysere grå så den stadig er subtil på mørk baggrund */
  transform: translateY(0.08em);
}

/* Responsive */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-inner {
    padding: 48px 24px 0;
  }
}