html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* GLOBAL PAGE STYLES */
.page {
  min-height: 100vh;
}

.page--dark {
  background-color: #454642;
}

.page--light {
  background-color: #cfcdc8;
}

body {
  background: #454642;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}



@font-face {
  font-family: "Brice";
  src: url("./assets/FONT/Brice-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/FONT/Montserrat/Montserrat-Regular.woff2") format("woff2"),
       url("/public/FONT/Montserrat/Montserrat-Regular.woff" )format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/FONT/Montserrat/Montserrat-Italic.woff2") format("woff2"),
       url("/public/FONT/Montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}


body {
  font-family: "Montserrat", sans-serif;
}